
    .homepage {
        margin-top: -1.55rem;
        width: 100vw;
        display: flex;
        flex-direction: column;

        .image-container {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;


            .homepage-image {
                width: 100%;
            }
        }

        .paragraph {
            font-family: Verdana;
            width: 75%;
            max-width: 950px;
            margin: 0 auto;
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 23px;
            padding: 5px;
            text-align: justify;
        }

    }
